.page{
    position: relative;
    /* min-width: 1280px; */
    /* max-width: 1184px; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', 'San-serif';
    font-weight: normal;
    color: #fff;
}
