.places__link{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.places__link:hover{
    opacity: 0.8;
    transition: 0.4s;
}

@media screen and (max-width: 600px) {
    .places__link{
        padding: 0 16px;
    }    
}