.lead{
    width: calc(100% - 148px * 2);
    /* max-width: 984px; */
    margin: 100px auto 0;
}

@media screen and (max-width: 1148px){
    .lead{
        width: calc(100% - 48px * 2);
    }
}

@media screen and (max-width: 860px){
    .lead{
        width: 100%;
    }
}