.header{
    width: calc(100% - 100px * 2);
    max-width: 984px;
    margin: 0 auto 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1148px){
    .header{
        width: calc(100% - 48px * 2);
    }
}

@media screen and (max-width: 860px){
    .header{
        width: calc(100% - 24px * 2);
    }
}

@media screen and (max-width: 540px){
    .header{
        width: calc(100% - 16px * 2);
    }
}