.place__text{
    width: 484px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place__text{
        width: 456px;
    }    
}

@media screen and (max-width: 860px) {
    .place__text{
        width: 356px;
    }    
}

@media screen and (max-width: 540px) {
    .place__text{
        width: 288px;
        
    }    
}