.lead__title{
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 768px){
    .lead__title{
        margin: 50px auto 16px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 600px){
    .lead__title{
        padding: 0 16px;
        font-size: 40px;
        line-height: 44px;
    }
}