.intro__container{
    width: 690px;
    padding-left: 48px;
}

@media screen and (max-width: 768px) {
    .intro__container{
        max-width: 720px;
        min-width: 288px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .intro__container{
        width: 100%;
        min-width: 288px;
        padding: 0 24px;
    }
}