.cover{
    width: 1184px;
    min-height: 740px;
    margin: 92px auto 0;
    position: relative;
    background-image: url(../../images/cover-route-66.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}