.lead__caption{
    width: 984px;
    margin: 8px 0 0;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 1184px){
    .lead__caption{
        width: 928px;
        margin: 8px auto 0;
    }
}

@media screen and (max-width: 860px){
    .lead__caption{
        width: fit-content;
        margin: 8px 0 0 24px;
    }
}