.lead__caption{
    width: fit-content;
    margin-top: 8px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 860px){
    .lead__caption{
        padding-left: 24px;
    }
}

@media screen and (max-width: 540px){
    .lead__caption{
        padding-left: 16px;
        
    }
}