.lead__container{
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 860px){
    .lead__container{
        max-width: 768px;
    }
}

@media screen and (max-width: 540px){
    .lead__container{
        min-width: 320px;
    }
}