.place{
    width: calc(100% - 48px * 2);
    max-width: 984px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
}
.place:first-of-type{
    margin-top: 0;
}
.place:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place{
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        grid-gap: 48px 32px;
    }    
}

@media screen and (max-width: 860px) {
    .place{
        width: calc(100% - 24px * 2);
        max-width: 720px;
        margin: 73px auto;
        grid-template-columns: 340px 1fr;
        grid-gap: 48px 28px;
    }    
}

@media screen and (max-width: 650px) {
    .place{
        width: 100%;
        min-width: 320px;
        margin: 0 auto 48px;
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
}