.footer{
    width: calc(100% - 48px * 2);
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 540px) {
    .footer{
        width: 165px;
        height: 198px;
        margin-left: 16px;
        flex-direction: column;
    }
}