.header__list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 24px;
    line-height: 28px;
    color: #fff;    
}

@media screen and (max-width: 320px){
    .logo{
        width: 156px;
        height: 36px;
    }
    .header__list{
        font-size: 18px;
        line-height: 20px;
    }
    .page__container{
        margin: 20px auto 0;
    }
}