.page__container{
    max-width: 1184px;
    /* width: calc(100% - 48px * 2); */
    margin: 34px auto 24px;
    /* padding: 0; */
    /* background-color: #777; */
}

@media screen and (max-width: 540px){
    .page__container{
        margin: 20px auto 24px;
    }
}